/* FUTURE Провести рефакторинг стилей */
/* Стандартизировать второстепенные цвета для всех виджетов */
.calendar-widget .calendar .ui-datepicker {
    padding: 5px;
    box-sizing: border-box;
}

.calendar-widget .calendar,
.calendar-widget .calendar .ui-datepicker,
.calendar-widget .calendar table {
    width: 100%;
}

.calendar-widget .calendar,
.calendar-widget .calendar .ui-datepicker {
    height: 100%;
}

.calendar-widget .calendar .ui-datepicker-header {
    min-height: 16px;
    height: 15%;
    font-weight: normal;
    text-align: center;
}

.calendar-widget .calendar .ui-datepicker-title {
    display: block;
    text-align: center;
}

.calendar-widget .calendar table {
    width: 100%;
    height: 85%;
    padding: 0;
}

.calendar-widget .calendar table thead th {
    text-align: center;
    font-weight: normal;
}

.calendar-widget .calendar table td {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.calendar-widget .calendar table .ui-datepicker-current-day {
    outline: 1px rgba(0, 0, 0, 0.3) solid;
}

.calendar-widget .calendar table .ui-datepicker-today {
    background: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.calendar-widget .ui-datepicker td span,
.calendar-widget .ui-datepicker td a {
    display: inline;
    font-size: 11px;
    color: #000;
}

.calendar-widget .calendar .ui-datepicker .ui-datepicker-other-month span {
    color: #aaa;
}