.news-widget .feed-select select {
    width: 100%;
    height: 32px;
    border: none;
    margin-top: 1px;
    padding-left: 10px;
}

.news-widget .feeds {
    height: 348px;
}

.news-widget .feed {
    overflow-y: scroll;
    height: 315px;
}

.news-widget .feed .item {
    padding: 5px 10px;
}

.news-widget .feed .item .title {
    font-weight: bold;
    margin-bottom: 5px;
}
