// Шапка
@header-height: 40px;
@header-logo-height: @header-height;
@header-menu-height: @header-height;
@header-menu-item-height: @header-menu-height;
// Сетка гаджетов
@gadgets-grid-column-width: 300px;
// Гаджет
@gadget-header-height: 30px;
@gadget-header-icon-width: @gadget-header-height;
@gadget-header-icon-height: @gadget-header-icon-width;
@gadget-header-title-height: @gadget-header-height;
@gadget-header-menu-height: @gadget-header-height;
@gadget-header-menu-item-width: @gadget-header-menu-height;
@gadget-header-menu-item-height: @gadget-header-menu-height;