@import "inner-variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  & {
    color: #333;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  padding: 0;
  margin: 0 0 10px 0;
}

.page {
  & {
    height: 100%;
    width: 100%;
    background: #f5f5f5 url(/images/back-14.jpg) no-repeat center;
    color: #000;
  }

  &-header {
    & {
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      height: @header-height;
    }

    &-logo {
      & {
        display: inline-block;
        height: @header-logo-height;
        line-height: @header-logo-height;
      }

      &__link {
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;
        height: @header-logo-height;
        line-height: @header-logo-height;
      }

      &__image {
        display: block;
      }
    }

    &__menu {
      float: right;
    }

    &-menu {
      & {
        display: inline-block;
        height: @header-menu-height;
      }

      &__item {
        display: inline-block;
        padding: 0 10px;
        height: @header-menu-item-height;
        line-height: @header-menu-item-height;
      }
    }
  }

  &-content {
    padding: 40px;
  }
}

.gadgets-grid {
  & {
    position: relative;
  }

  &__column {
    width: @gadgets-grid-column-width;
    margin: 0 20px 20px 0;
    display: inline-block;
  }

  &__colum:last-of-type {
    margin-right: 0;
  }

  &__item {
    width: 100%;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.15);
    border-radius: 5px;
  }
}

.gadget {
  & {
    position: relative;
  }

  &:hover &-header-menu-item {
    display: inline-block;
    opacity: 0.5;
  }

  &-header {
    & {
      position: relative;
      height: @gadget-header-height;
    }

    &__icon {
      float: left;
      width: @gadget-header-icon-width;
      height: @gadget-header-icon-height;
    }

    &__title {
      float: left;
      // TODO Сделать так, что бы заголовок начинался на крае иконки и заканчивался перед кнопками (без отступов)
      width: 88%;
      height: @gadget-header-title-height;
      line-height: @gadget-header-title-height;
      margin-left: 5px;
      font-weight: bold;
      // TODO Сделать текст однострочным
      overflow: hidden;
      cursor: -webkit-grab;
      cursor: grab;
      // text-overflow: ellipsis;
    }

    &__menu {
      position: absolute;
      right: 0;
      height: @gadget-header-menu-height;
    }

    &-menu {
      &__item {
        float: left;
      }

      &-item {
        & {
          display: none;
          opacity: 0;
          width: @gadget-header-menu-item-width;
          height: @gadget-header-menu-item-height;
        }

        .gadget &:hover {
          display: inline-block;
          opacity: 1;
        }

        &__link {
          display: inline-block;
          width: @gadget-header-menu-item-width;
          height: @gadget-header-menu-item-height;
          line-height: @gadget-header-menu-item-height;
          text-align: center;
        }

        &__link:hover {
          background: #f0f0f0;
        }
      }
    }
  }

  &-content {
    // TODO Сделать правильное опреление высоты
    min-height: 50px;
    padding: 10px;
  }
}