.notes-widget .note {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    resize: none;

    padding: 5px;
    font-size: 13px;
}

.notes-widget .note:focus {
    outline: none;
}